<!DOCTYPE html>
<html>

<head>
    <title></title>
    <!-- 导入头部组件 -->

<% include head %>

</head>

<body>

    <form action="/users/login" method="post" role="form">
        <legend>登录</legend>
        <div class="form-group">
            <label for="">账号</label>
            <input type="text" class="form-control" id="" placeholder="请输入账号" name="username">
            <label for="">密码</label>
            <input type="text" class="form-control" id="" placeholder="请输入密码" name="password">
        </div>
        <input type="submit" class="btn btn-primary" value="提交">
        <div>没有账号<a href="/register">去注册</a></div>
    </form>

</body>

</html>