<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% include head %>
</head>

<body>
    <% include nav %>
    <div class="container box">
        <h1> <%= data.title %></h1>
        <p class="text"> 作者:  <%= data.username %>  发布时间：<%= data.time %></p>
        <div>
            <%- data.content %>
        </div>
    </div>

</body>

</html>